@{

    ViewBag.Title = "Về Chúng Tôi";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<!--== Page Title Area Start ==-->
<section id="page-title-area" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <!-- Page Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Về Chúng Tôi</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>

                </div>
            </div>
            <!-- Page Title End -->
        </div>
    </div>
</section>
<!--== Page Title Area End ==-->
<!--== Help Desk Page Content Start ==-->
<section id="help-desk-page-wrap" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="team-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title  text-center">
                                <h2>Nhóm Phát Triển Website.</h2>
                                <span class="title-line"><i class="fa fa-car"></i></span>
                                <p>Thành Viên Nhóm SWP493_4.</p>
                            </div>
                        </div>
                        <!-- Section Title End -->
                        <!-- Team Tab Menu start -->
                        <div class="col-lg-4">
                            <div class="team-tab-menu">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="tab_item_1" data-toggle="tab" href="#team_member_1" role="tab" aria-selected="true">
                                            <div class="team-mem-icon">
                                                <img src="~/Content/images/thangnm3.jpg" alt="JSOFT">
                                            </div>
                                            <h5>Nguyễn Minh Thắng</h5>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab_item_2" data-toggle="tab" href="#team_member_2" role="tab" aria-selected="true">
                                            <div class="team-mem-icon">
                                                <img src="~/Content/images/khanhnx.jpg" alt="JSOFT">
                                            </div>
                                            <h5>Nguyễn Xuân Khánh</h5>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab_item_3" data-toggle="tab" href="#team_member_3" role="tab" aria-selected="true">
                                            <div class="team-mem-icon">
                                                <img src="~/Content/images/huynlq.jpg" alt="JSOFT">
                                            </div>
                                            <h5>Nguyễn Lê Quang Huy</h5>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab_item_4" data-toggle="tab" href="#team_member_4" role="tab" aria-selected="true">
                                            <div class="team-mem-icon">
                                                <img src="~/Content/images/thanglkd.jpg" alt="JSOFT">
                                            </div>
                                            <h5>Lê Khắc Đức Thắng</h5>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Team Tab Menu End -->
                        <!-- Team Tab Content start -->
                        <div class="col-lg-8">
                            <div class="tab-content" id="myTabContent">
                                <!-- Single Team  start -->
                                <div class="tab-pane fade show active" id="team_member_1" role="tabpanel" aria-labelledby="tab_item_1">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="team-member-pro-pic">
                                                <img src="~/Content/images/thangnm3.jpg" alt="JSOFT">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="team-member-info text-center">
                                                <h4>Nguyễn Minh Thắng</h4>
                                                <h5>Trưởng Nhóm</h5>
                                                <span class="quote-icon"><i class="fa fa-quote-left"></i></span>
                                                <p>Chịu trách nhiệm thiết kế và phát triển hệ thống ,tiếp nhận yêu cầu khách hàng (HoLa Bus).</p>

                                                <div class="team-social-icon">
                                                    <a href="https://www.facebook.com/nNguyen.MinhThang"><i class="fa fa-facebook"></i></a>

                                                </div>
                                                <p>-----*-----</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Team  End -->
                                <!-- Single Team  start -->
                                <div class="tab-pane fade" id="team_member_2" role="tabpanel" aria-labelledby="tab_item_2">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="team-member-pro-pic">
                                                <img src="~/Content/images/khanhnx.jpg" alt="JSOFT">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="team-member-info text-center">
                                                <h4>Nguyễn Xuân Khách</h4>
                                                <h5>Thành Viên</h5>
                                                <span class="quote-icon"><i class="fa fa-quote-left"></i></span>
                                                <p>Thiết kế tài liệu đặc tả lên kế hoạch và thực hiện kiểm thử hệ thống. Hỗ trợ quá trình Q/A HoLa Bus</p>

                                                <div class="team-social-icon">
                                                    <a href="https://www.facebook.com/xuankhanh.nguyen.3158"><i class="fa fa-facebook"></i></a>

                                                </div>
                                                <p>-----*-----</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Team  End -->
                                <!-- Single Team  start -->
                                <div class="tab-pane fade" id="team_member_3" role="tabpanel" aria-labelledby="tab_item_3">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="team-member-pro-pic">
                                                <img src="~/Content/images/huynlq.jpg" alt="JSOFT">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="team-member-info text-center">
                                                <h4>Nguyễn Lê Quang Huy</h4>
                                                <h5>Thành Viên</h5>
                                                <span class="quote-icon"><i class="fa fa-quote-left"></i></span>
                                                <p>Hỗ trợ thiết kế tài liệu, tài liệu Q/A . Testing Sytem , phát triển Automatic Ticket Deletion System.</p>
             
                                                <div class="team-social-icon">
                                                    <a href="https://www.facebook.com/huy.nguyenlequang.7"><i class="fa fa-facebook"></i></a>

                                                </div>
                                                <p>-----*-----</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Team  End -->
                                <!-- Single Team  start -->
                                <div class="tab-pane fade" id="team_member_4" role="tabpanel" aria-labelledby="tab_item_4">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="team-member-pro-pic">
                                                <img src="~/Content/images/thanglkd.jpg" alt="JSOFT">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="team-member-info text-center">
                                                <h4>Lê Khắc Đức Thắng</h4>
                                                <h5>Thành Viên</h5>
                                                <span class="quote-icon"><i class="fa fa-quote-left"></i></span>
                                                <p>Hỗ trợ công việc cho các thành viên trong quá trình thiết kế tài liệu và kiểm thử hệ thống.</p>
                                                <div class="team-social-icon">
                                                    <a href="https://www.facebook.com/ThangLkd"><i class="fa fa-facebook"></i></a>

                                                </div>
                                                <p>-----*-----</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Team  End -->
                            </div>
                        </div>
                        <!-- Team Tab Content End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--== Help Desk Page Content End ==-->
<!--== Help Desk Page Content Start ==-->
<section id="help-desk-page-wrap" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="team-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title  text-center">
                                <h2>Quản Lý HoLa Bus.</h2>
                                <span class="title-line"><i class="fa fa-car"></i></span>
                                <p>Thành Viên Của HoLa Bus.</p>
                            </div>
                        </div>
                        <!-- Section Title End -->
                        <!-- Team Tab Menu start -->
                        <div class="col-lg-4">
                            <div class="team-tab-menu">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="tab_item_1" data-toggle="tab" href="#team_member_1" role="tab" aria-selected="true">
                                            <div class="team-mem-icon">
                                                <img src="~/Content/images/cuong.jpg" alt="JSOFT">
                                            </div>
                                            <h5>Nguyễn Hà Cương</h5>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Team Tab Menu End -->
                        <!-- Team Tab Content start -->
                        <div class="col-lg-8">
                            <div class="tab-content" id="myTabContent">
                                <!-- Single Team  start -->
                                <div class="tab-pane fade show active" id="team_member_1" role="tabpanel" aria-labelledby="tab_item_1">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="team-member-pro-pic">
                                                <img src="~/Content/images/cuong.jpg" alt="JSOFT">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="team-member-info text-center">
                                                <h4>Nguyễn Hà Cương</h4>
                                                <h5>Quản Lý</h5>
                                                <span class="quote-icon"><i class="fa fa-quote-left"></i></span>
                                                <p>Là sinh viên K13 nhưng hiện tại đang là quản lý và điều hành mọi hoạt động của HoLa Bus.</p>

                                                <div class="team-social-icon">
                                                    <a href="https://www.facebook.com/profile.php?id=100003723200362"><i class="fa fa-facebook"></i></a>

                                                </div>
                                                <p>-----*-----</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Team  End -->



                            </div>
                        </div>
                        <!-- Team Tab Content End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--== Help Desk Page Content End ==-->

<!--== Help Desk Page Content Start ==-->
<section id="help-desk-page-wrap" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="team-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title  text-center">
                                <h2>Sáng Lập.</h2>
                                <span class="title-line"><i class="fa fa-car"></i></span>
                                <p>Thành Viên Sáng Lập HoLa Bus.</p>
                            </div>
                        </div>
                        <!-- Section Title End -->
                        <!-- Team Tab Menu start -->
                        <div class="col-lg-4">
                            <div class="team-tab-menu">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="tab_item_7" data-toggle="tab" href="#team_member_6" role="tab" aria-selected="true">
                                            <div class="team-mem-icon">
                                                <img src="~/Content/images/hann2.jpg" alt="JSOFT">
                                            </div>
                                            <h5>Nguyễn Ngọc Hà</h5>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab_item_7" data-toggle="tab" href="#team_member_7" role="tab" aria-selected="true">
                                            <div class="team-mem-icon">
                                                <img src="~/Content/images/thamh.jpg" alt="JSOFT">
                                            </div>
                                            <h5>Hà Thắm</h5>
                                        </a>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>
                        <!-- Team Tab Menu End -->
                        <!-- Team Tab Content start -->
                        <div class="col-lg-8">
                            <div class="tab-content" id="myTabContent">
                                <!-- Single Team  start -->
                                <div class="tab-pane fade show active" id="team_member_6" role="tabpanel" aria-labelledby="tab_item_6">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="team-member-pro-pic">
                                                <img src="~/Content/images/hann2.jpg" alt="JSOFT">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="team-member-info text-center">
                                                <h4>Nguyễn Ngọc Hà</h4>
                                                <h5>Cựu Thành Viên</h5>
                                                <span class="quote-icon"><i class="fa fa-quote-left"></i></span>
                                                <p>Là sinh viên K10 và là người đầu tiên lên ý tưởng và sáng lập ra HoLa Bus. Sau trở thành cố vấn của HoLa Bus</p>

                                                <div class="team-social-icon">
                                                    <a href="https://www.facebook.com/Nguyenngochabei"><i class="fa fa-facebook"></i></a>

                                                </div>
                                                <p>-----*-----</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Team  End -->
                                <!-- Single Team  start -->
                                <div class="tab-pane fade" id="team_member_7" role="tabpanel" aria-labelledby="tab_item_7">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="team-member-pro-pic">
                                                <img src="~/Content/images/thamh.jpg" alt="JSOFT">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="team-member-info text-center">
                                                <h4>Hà Thắm</h4>
                                                <h5>Cựu Thành Viên</h5>
                                                <span class="quote-icon"><i class="fa fa-quote-left"></i></span>
                                                <p>Là sinh viên K11 và là đồng sáng lập ra HoLa Bus phụ trách nhà cung cấp. Sau là quản lý của HoLa Bus</p>

                                                <div class="team-social-icon">
                                                    <a href="https://www.facebook.com/tham.thieusac"><i class="fa fa-facebook"></i></a>

                                                </div>
                                                <p>-----*-----</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Team  End -->
                               
                      
                            </div>
                        </div>
                        <!-- Team Tab Content End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--== Help Desk Page Content End ==-->
<!--== Map Area Start ==-->
<br />
<div class="maparea">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1686.6074922540965!2d105.52657433760773!3d21.013368698486232!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b32ca5086d%3A0xa3c62e29d8ab37e4!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBGUFQ!5e1!3m2!1svi!2s!4v1542802662468"></iframe>
</div>
<!--== Map Area End ==-->
<br />
<section id="page-title-area" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <!-- Page Title Start -->

            <div class="col-lg-12">

                <div class="section-title  text-danger">

                    <h3 style="color:red">Nhóm SWP493_4</h3>
                    <p style="margin-left:50px">SWP493_4 là nhóm đồ án của các bạn sinh viên khóa 10C - Chuyên nghành JS</p>
                    <p style="margin-left:50px">Nhóm SWP493_4 gồm 4 thành viên và 1 thầy giáo hướng dẫn.</p>
                    <p style="margin-left:100px">
                        <b>Thầy Bùi Đình Chiến: </b>  Giảng viên hướng dẫn nhóm SWP439_4.
                        <br /> <b>Nguyễn Minh Thắng: </b>  Trưởng nhóm SWP493_4: Thiết kế / Phát triển hệ thống.
                        <br /> <b>Nguyễn Xuân Khánh: </b>  Thành viên nhóm SWP493_4: Thiết kế tài liệu / Kiểm thử hệ thống.
                        <br /> <b>Nguyễn Lê Quang Huy: </b> Thành viên nhóm SWP493_4: Kiểm thử hệ thống.
                        <br /> <b>Lê Khắc Đức Thắng: </b>  Thành viên nhóm SWP493_4: Kiểm thử hệ thống.


                    </p>
                    <p style="margin-left:50px"><i>Hola Bus xin trân thành cảm ơn Thầy <b>Bùi Đình Chiến</b> và nhóm <b>SWP439_4</b> đã phát triển website này dành cho HoLa Bus!</i></p>
                    <p style="margin-left:600px">HoLa Bus!</p>

                    <br />
                    <h3 style="color:red">HoLa Bus</h3>
                    <p style="margin-left:50px">HoLa Bus là một dự án khởi nghiệp đã được ấp ủ từ lâu, được thực hiện bởi các thành viên trong câu lạc bộ Kinh Doanh, nay đã được chính thức ra mắt với toàn thể các bạn sinh viên ĐH FPT hiện đang sinh sống và học tập tại Hòa Lạc Campus.</p>
                    <br /> <p style="margin-left:50px">Nhận thấy sự bất cập cũng như khó khăn trong quá trình di chuyển từ Hòa Lạc – Hà Nội và ngược lại, dịch vụ xe mang tên HoLa Bus ra đời nhằm giải quyết tất cả các khó khăn như: không bắt kịp xe, tình trạng chen lấn xô đẩy, hành lý cồng kềnh nhưng không có đủ chỗ, hay thậm chí sự dừng lại liên tục để đón khách dễ gây cảm giác khó chịu. Với phương châm “Nhanh gọn – An toàn – Thoải mái”, Bus – Best Service for FUers đang được kỳ vọng sẽ là một dự án khởi nghiệp thành công.</p>
                    <p style="margin-left:50px">Không chỉ chuyên phục vụ nhu cầu đi lại của các bạn sinh viên vào mỗi dịp cuối tuần, ngày lễ, HoLa Bus còn là dịch vụ cung cấp xe du lịch cho các tổ chức, hội nhóm Field trip hay team buidling cuối kỳ. Đây là một sự thuận tiện rất lớn đối với các bạn sinh viên FPTU, bởi nhu cầu giải trí – nâng cao tinh thần đoàn kết của các câu lạc bộ hoặc hội nhóm ngày càng có xu hướng tăng nhưng lại gặp khó khăn trong việc liên hệ xe di chuyển. HoLa Bus ra đời đã thực sự giúp các bạn tiết kiệm được phần nào thời gian cũng như công sức.</p>
                    <p style="margin-left:50px">Thành viên nhóm dự án gồm 5 cô gái với 5 phòng ban chuyên sâu mỗi mảng.</p>
                    <p style="margin-left:100px">
                        <b>+ Hà Thắm - Team leader phụ trách Nhà cung cấp.</b>
                        <br /> <b>+ Bùi Thị Thu Trang - Trưởng phòng Marketing.</b>
                        <br /> <b>+ Đỗ Ánh Tuyết - Trưởng phòng Chăm sóc khách hàng.</b>
                        <br /> <b>+ Trần Thị Thư - Trưởng phòng Vận hành.</b>
                        <br /> <b>+ Trưởng phòng Tài chính - Ngô Thị Quỳnh Anh.</b>
                    </p>
                    <p style="margin-left:50px"> Hà Thắm – sinh viên K11, team leader của dự án hào hứng chia sẻ: <b><i> “Chúng mình thực sự đặt rất nhiều tâm huyết vào HoLa Bus lần này. Từ khi bắt đầu dự án, chúng mình đã gặp khá nhiều khó khăn nhưng mình nghĩ, tuổi trẻ là phải xông pha, dám nghĩ dám làm. Sẽ còn thật nhiều chông gai phía trước, nhưng mình tin rằng chúng mình sẽ vượt qua tất cả. Qua dự án lần này, mình nghĩ cả team sẽ có thật nhiều trải nghiệm đáng quý và trưởng thành lên thật nhiều. Và điều mình mong chờ nhất có lẽ là sự ủng hộ của tất cả các bạn sinh viên trong trường, mong rằng các bạn sẽ ủng hộ chúng mình cũng như HoLa Bus; để chúng mình có thể mang những lợi ích tốt nhất đến cho các bạn.”</i></b></p>
                    <p style="margin-left:50px">Theo nhóm dự án, HoLa Buýt được triển khai với các lộ trình như sau: Hòa Lạc – Bến xe Mỹ Đình – 18h00 Thứ 6 hàng tuần, xe đón tại cổng trường; Bến xe Mỹ Đình – Hòa Lạc – 18h00 Chủ nhật hàng tuần, đón tại tòa FLC - cạnh bến xe Mỹ Đình.</p>
                    <p style="margin-left:50px">Ngoài ra, HoLaBus cung cấp các dịch vụ xe khác như HoLa Du Lịch và HoLa Khẩn Cấp cho các chuyến đi của sinh viên, lớp, CLB. HoLaBus luôn sẵn sàng đồng hành cùng các bạn !</p>
                    <p style="margin-left:50px"> Nhóm dự án đặt mục tiêu hoạt động tốt trong thời gian đầu triển khai để tạo hiệu ứng tích cực với “cư dân” Hòa Lạc. Sau đó, nhóm hy vọng gọi được vốn đầu tư, phát triển mô hình này ở quy mô lớn hơn.</p>
                    <p style="margin-left:50px">
                        HoLa Bus không chỉ là một dự án kinh doanh đơn thuần mà thông qua đó sẽ là sự trải nghiệm, học hỏi và giúp đỡ nhau của nhóm các bạn trẻ trong Câu lạc bộ Kinh Doanh. Chúc cho các bạn sẽ thành công cùng với HoLa Bus, và chúc cho các bạn sinh viên của chúng ta sẽ có một trải nghiệm mới với một dịch vụ mới mà chỉ có FPT-Hòa-Lạc-Campus-mới-có.


                    </p>
                    <p style="margin-left:600px">HoLa Bus!</p>
                </div>
            </div>
            <!-- Page Title End -->
        </div>
    </div>
</section>
