@model HoLaBus.Models.IndexViewModel
@{
    ViewBag.Title = "Quản Lý Đơn Hàng/Tài Khoản";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<section id="page-title-area" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <!-- Page Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Trang Quản Lý Tài Khoản / Đơn Hàng</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                </div>
            </div>
            <!-- Page Title End -->
        </div>
    </div>
</section>
<br />
<section id="service-area" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 text-center">
                <div class="service-item">
                    <i class="fa fa-cog"></i>
                    <h3>Cập Nhật TK</h3>
                    <p>Bạn cập nhật thông tin tài khoản tại đây!</p>

                    <div class="about-btn">
                        <p><a href="~/Manage/UpdateUserInfo">Cập Nhật</a></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 text-center">
                <div class="service-item">
                    <i class="fa fa-user"></i>
                    <h3>Tài Khoản</h3>
                    <p>Xem thông tin tài khoản của bạn tại đây!</p>

                    <div class="about-btn">
                        <p><a href="~/Manage/DisplayInfo">Chi Tiết</a></p>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 text-center">
                <div class="service-item">
                    <i class="fa fa-ticket"></i>
                    <h3>Đơn Vé Xe</h3>
                    <p>Xem thông tin đơn đặt vé tại đây!</p>

                    <div class="about-btn">
                        <p><a href="~/OrderTicketManageUser/Index">Chi Tiết</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <div class="service-item">
                    <i class="fa fa-bus"></i>
                    <h3>Đơn Thuê Xe</h3>
                    <p>Xem thông tin đơn thuê xe tại đây!</p>

                    <div class="about-btn">
                        <p><a href="~/RentalBusManageUser/Index">Chi Tiết</a></p>
                    </div>
                </div>
            </div>
        </div>
        </div>
</section>