
@{
    ViewBag.Title = "QAndA";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!--== Page Title Area Start ==-->
<section id="page-title-area" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <!-- Page Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Trợ Giúp</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>Mọi câu hỏi của bạn sẽ được trả lời tại đây.</p>
                </div>
            </div>
            <!-- Page Title End -->
        </div>
    </div>
</section>
<!--== Page Title Area End ==-->
<!--== FAQ Area Start ==-->
<section id="faq-page-area" class="section-padding">
    <div class="container">
        <div class="row">
            <!-- FAQ Content Start -->
            <div class="col-lg-8">
                <div class="faq-details-content">
                    <!-- Single FAQ Subject  Start -->
                    <div class="single-faq-sub">
                        <h3>Điều Khoản</h3>
                        <div class="single-faq-sub-content">
                            <div id="accordion">
                                <!-- Single FAQ Start -->
                                <div class="card">
                                    <div class="card-header" id="heading1">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                                                <span>Sau  khi thanh toán có được hủy vé không?</span>
                                                <i class="fa fa-angle-down"></i>
                                                <i class="fa fa-angle-up"></i>
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordion">
                                        <div class="card-body">
                                            Sau khi khách hàng thanh toán. HoLa Bus sẽ xác nhận lại thông tin và thông báo đặt vé thành công cho khách hàng. Khách hàng sẽ không được hủy vé
                                        </div>
                                    </div>
                                </div>
                                <!-- Single FAQ End -->
                                <!-- Single FAQ Start -->
                                <div class="card">
                                    <div class="card-header" id="heading2">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                                <span>Tôi muốn hủy vé sau khi đã thanh toán thì phải làm sao?</span>
                                                <i class="fa fa-angle-down"></i>
                                                <i class="fa fa-angle-up"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
                                        <div class="card-body">
                                            Sau khi HoLa Bus xác nhận đặt vé thành công, khách hàng sẽ không được quyền hủy vé. Nếu muốn hủy bạn hãy liên hệ với HoLa Bus để hủy vé.
                                        </div>
                                    </div>
                                </div>
                                <!-- Single FAQ Start -->
                                <!-- Single FAQ End -->
                                <div class="card">
                                    <div class="card-header" id="heading3">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                                <span>Sau khi thanh toán mà hủy vé có được hoàn lại tiền?</span>
                                                <i class="fa fa-angle-down"></i>
                                                <i class="fa fa-angle-up"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
                                        <div class="card-body">
                                            Sau khi thanh toán và được HoLa Bus xác nhận, khách hàng mà hủy vé sẽ không được hoàn lại tiền.
                                        </div>
                                    </div>
                                </div>
                                <!-- Single FAQ End -->

                            </div>
                        </div>
                    </div>
                    <!-- Single FAQ Subject End -->
                    <!-- Single FAQ Subject  Start -->
                    <div class="single-faq-sub">
                        <h3>Hướng Dẫn Sử Dụng</h3>
                        <div class="single-faq-sub-content">
                            <div id="accordion_3">
                                <!-- Single FAQ Start -->
                                <div class="card">
                                    <div class="card-header" id="heading15">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse15" aria-expanded="false" aria-controls="collapse15">
                                                <span>Tôi muốn đặt vé xe?</span>
                                                <i class="fa fa-angle-down"></i>
                                                <i class="fa fa-angle-up"></i>
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapse15" class="collapse" aria-labelledby="heading15" data-parent="#accordion_3">
                                        <div class="card-body">
                                            Đây là dịch vụ dành riêng cho cho sinh viên FPT. Bạn cần phải đăng nhập bằng Email FPT để sử dụng dịch vụ này. Sau khi đăng nhập bạn chọn phần "Dịch Vụ" trên đầu trang và chọn "Đặt Vé".
                                        </div>
                                    </div>
                                </div>

                                <!-- Single FAQ End -->
                                <!-- Single FAQ Start -->
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                <span>Tôi muốn thuê cả xe?</span>
                                                <i class="fa fa-angle-down"></i>
                                                <i class="fa fa-angle-up"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion_3">
                                        <div class="card-body">
                                            Dịch vụ này được phát triển dành cho tất cả mọi người. Bạn không cần đăng nhập vẫn có thể sử dụng dịch vụ. Bạn chọn phần "Dịch Vụ" trên đầu trang và chọn "Thuê Xe".
                                        </div>
                                    </div>
                                </div>
                                <!-- Single FAQ Start -->
                                <!-- Single FAQ End -->
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                <span>Nếu Tôi không đăng nhập thì làm sao kiểm soát được đơn thuê xe?</span>
                                                <i class="fa fa-angle-down"></i>
                                                <i class="fa fa-angle-up"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion_3">
                                        <div class="card-body">
                                            Sau khi bạn điền đầy đủ thông và nhấn nút đặt xe. Sẽ có email thông báo đặt xe thành công. HoLa Bus sẽ xác nhận và thông báo lại cho bạn số tiền bạn cần phải thanh toán.
                                        </div>
                                    </div>
                                </div>
                                <!-- Single FAQ End -->
                                <!-- Single FAQ End -->
                                <div class="card">
                                    <div class="card-header" id="heading14">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
                                                <span>Tại sao phải cần đăng nhập?</span>
                                                <i class="fa fa-angle-down"></i>
                                                <i class="fa fa-angle-up"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapse14" class="collapse" aria-labelledby="heading14" data-parent="#accordion_3">
                                        <div class="card-body">
                                            Sau khi đăng nhập hệ thống sẽ tự điền cho bạn thông tin liên hệ, bạn không cần nhập lại thông tin của mình nữa.
                                        </div>
                                    </div>
                                </div>
                                <!-- Single FAQ End -->
                                <!-- Single FAQ End -->
                                <div class="card">
                                    <div class="card-header" id="heading5">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                                <span>Tôi phải làm gì trước khi thuê xe?</span>
                                                <i class="fa fa-angle-down"></i>
                                                <i class="fa fa-angle-up"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordion_3">
                                        <div class="card-body">
                                            Bạn sẽ gọi điện trực tiếp cho HoLa Bus để thương lượng giá cả trước khi thuê xe.
                                        </div>
                                    </div>
                                </div>
                                <!-- Single FAQ End -->
                                <!-- Single FAQ End -->
                                <div class="card">
                                    <div class="card-header" id="heading9">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                                                <span>HoLa Bus có nhưng loại hình dịch vụ nào?</span>
                                                <i class="fa fa-angle-down"></i>
                                                <i class="fa fa-angle-up"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordion_3">
                                        <div class="card-body">
                                            HoLa Bus hiện tại cung cấp 2 dịch vụ: "Đặt Vé" dành riêng cho sinh viên FPT và "Thuê Xe" dành cho tất cả mọi người.
                                        </div>
                                    </div>
                                </div>
                                <!-- Single FAQ End -->
                                <!-- Single FAQ End -->
                                <div class="card">
                                    <div class="card-header" id="heading10">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                                                <span>Sau khi thuê xe tôi có được hủy đơn không?</span>
                                                <i class="fa fa-angle-down"></i>
                                                <i class="fa fa-angle-up"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#accordion_3">
                                        <div class="card-body">
                                            Sau khi thuê xe bạn không được quyền hủy đơn.
                                        </div>
                                    </div>
                                </div>
                                <!-- Single FAQ End -->
                                <!-- Single FAQ End -->
                                <div class="card">
                                    <div class="card-header" id="heading11">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                                                <span>Tôi muốn gửi yêu cầu cho HoLa Bus thì phải làm thế nào?</span>
                                                <i class="fa fa-angle-down"></i>
                                                <i class="fa fa-angle-up"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapse11" class="collapse" aria-labelledby="heading11" data-parent="#accordion_3">
                                        <div class="card-body">
                                            Bạn chọn mục "Dịch Vụ" hoặc "Hỗ TRợ" và tiếp tục chọn "Gửi Tin Nhắn Cho HoLa Bus". Bạn sẽ được chuyển đến trang mới sau đó bạn điền thông tin và gửi yêu cầu cho HoLa Bus. Chúng tôi sẽ liên hệ sớm nhất lại với bạn.
                                        </div>
                                    </div>
                                </div>
                                <!-- Single FAQ End -->
                            </div>
                        </div>
                    </div>
                    <!-- Single FAQ Subject End -->
                    <!-- Single FAQ Subject  Start -->
                    <div class="single-faq-sub">
                        <h3>Thanh Toán</h3>
                        <div class="single-faq-sub-content">
                            <div id="accordion_2">
                                <!-- Single FAQ Start -->
                                <div class="card">
                                    <div class="card-header" id="heading4">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                                <span>Mua nhiều vé có được giảm giá không?</span>
                                                <i class="fa fa-angle-down"></i>
                                                <i class="fa fa-angle-up"></i>
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion_2">
                                        <div class="card-body">
                                            Hiện tại HoLa Bus đang áp dụng chính sách mua trên 5 vé sẽ được giảm giá từ 1-15% tùy từng tuyến xe.
                                        </div>
                                    </div>
                                </div>
                                <!-- Single FAQ End -->
                                <!-- Single FAQ Start -->
                                <div class="card">
                                    <div class="card-header" id="headingFour">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                <span>Thời gian thanh toán kể từ lúc đặt vé?</span>
                                                <i class="fa fa-angle-down"></i>
                                                <i class="fa fa-angle-up"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion_2">
                                        <div class="card-body">
                                            Sau khi đặt vé bạn sẽ nhận được email thông báo về hạn thời gian thanh toán. Bạn sẽ phải thanh toán trong 36h kể từ lúc đặt.
                                        </div>
                                    </div>
                                </div>
                                <!-- Single FAQ Start -->
                                <!-- Single FAQ End -->
                                <div class="card">
                                    <div class="card-header" id="headingFive">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                                <span>Nếu tôi thanh toán sau thời gian quy định?</span>
                                                <i class="fa fa-angle-down"></i>
                                                <i class="fa fa-angle-up"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion_2">
                                        <div class="card-body">
                                            Sau thời gian thanh toán quy định được thông báo trong email. Hệ thống sẽ tự hủy vé và gửi email lại cho bạn vé đã bị hủy.
                                        </div>
                                    </div>
                                </div>
                                <!-- Single FAQ End -->
                                <!-- Single FAQ End -->
                                <div class="card">
                                    <div class="card-header" id="headingSix">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                                <span>Có những hình thức thanh toán nào?</span>
                                                <i class="fa fa-angle-down"></i>
                                                <i class="fa fa-angle-up"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion_2">
                                        <div class="card-body">
                                            Hiện tại HoLa Bus hỗ trợ 3 hình thức thanh toán là: Internet Banking, Thu tiền tại địa chỉ khách hàng đăng ký ,Nộp tiền tại toàn nhà Alpha.
                                        </div>
                                    </div>
                                </div>
                                <!-- Single FAQ End -->
                                <div class="card">
                                    <div class="card-header" id="heading6">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                                <span>Tôi muốn thu tiền tại phòng thì có mất phí không?</span>
                                                <i class="fa fa-angle-down"></i>
                                                <i class="fa fa-angle-up"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordion_2">
                                        <div class="card-body">
                                            HoLa Bus hỗ trợ hình thứ thanh toán tại địa chỉ khách hàng đăng ký. Và có kèm theo phí.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="heading7">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                                <span>Sau khi đã thanh toán tiền thì tôi làm gì tiếp theo?</span>
                                                <i class="fa fa-angle-down"></i>
                                                <i class="fa fa-angle-up"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordion_2">
                                        <div class="card-body">
                                            Sau khi thanh toán tiền, HoLa Bus sẽ xác nhận đặt vé thành công cho bạn. Bạn có thể vào website để theo dõi đơn hàng của mình.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="heading8">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                                                <span>Tôi đã thanh toán nhưng HoLa Bus chưa xác nhận mua vé thành công?</span>
                                                <i class="fa fa-angle-down"></i>
                                                <i class="fa fa-angle-up"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordion_2">
                                        <div class="card-body">
                                            Bạn có thể gọi điện trực tiếp cho HoLa Bus. Hoặc vào website trong mục quản lý đơn hàng vé xe => chọn xác nhận => và ghi thông báo cho HoLa Bus vào cột tình trạng thanh toán.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        @using (Html.BeginForm("Index", "ShowNews", new { @class = "form-horizontal", role = "form" }))
                                {
                            <div class="book-button text-center">
                                <button class="book-now-btn">Trang Chủ</button>
                            </div>
                        }
                    </div>
                    <!-- Single FAQ Subject End -->

                </div>
            </div>
            <!-- FAQ Content End -->
            <!-- Sidebar Area Start -->
            <div class="col-lg-4">
                <div class="sidebar-content-wrap m-t-50">
                    <!-- Single Sidebar Start -->
                    <div class="single-sidebar">
                        <h3>Thông Tin Liên Hệ</h3>

                        <div class="sidebar-body">
                            <p style="color:red"><i class="fa fa-bus"></i>HoLa Bus</p>
                            <a href="https://www.facebook.com/profile.php?id=100003723200362"><i class="fa fa-facebook"></i>Nguyễn Hà Cương</a>
                            <p><i class="fa fa-mobile"></i>083 809 0004</p>
                            <br />
                            <p style="color:red"><i class="fa fa-user-secret"></i>SWP493_4</p>
                            <a href="https://www.facebook.com/nNguyen.MinhThang"><i class="fa fa-facebook"></i>Nguyễn Minh Thắng </a>
                            <p><i class="fa fa-mobile"></i>0909 94 1996</p>

                            <a href="https://www.facebook.com/xuankhanh.nguyen.3158"><i class="fa fa-facebook"></i>Nguyễn Xuân Khánh</a>
                            <p><i class="fa fa-mobile"></i>0912 82 5239 </p>

                            <a href="https://www.facebook.com/huy.nguyenlequang.7"><i class="fa fa-facebook"></i>Nguyễn Lê Quang Huy </a>
                            <p><i class="fa fa-mobile"></i>0945 49 4127</p>

                            <a href="https://www.facebook.com/ThangLkd"><i class="fa fa-facebook"></i>Lê Khắc Đức Thắng </a>
                            <p><i class="fa fa-mobile"></i>0396 12 1612 </p>

                            <br />
                            <p style="color:red"><i class="fa fa-clock-o"></i> Thứ 2 - CN 8.00 - 21.00</p>
                        </div>
                    </div>
                    <!-- Single Sidebar End -->
                    <!-- Single Sidebar Start -->
                    <div class="single-sidebar">
                        <h3>Fanpage</h3>

                        <div class="sidebar-body">
                            <div class="social-icons text-center">
                                <a href="https://www.facebook.com/HolaBus-Best-Service-For-FUers-2067853946848282/" target="_blank"><i class="fa fa-facebook"></i></a>

                            </div>
                        </div>
                    </div>
                    <!-- Single Sidebar End -->
                </div>
                <br />
                @using (Html.BeginForm("Index", "ShowNews", new { @class = "form-horizontal", role = "form" }))
            {
                    <div class="book-button text-center">
                        <button class="book-now-btn">Trang Chủ</button>
                    </div>
                }
            </div>
            <!-- Sidebar Area End -->

        </div>
    </div>
</section>
<!--== FAQ Area End ==-->
